<div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>

    <form class="form new-post-form">

      <label class="form-label" for="post-title">Title</label>
      <input class="form-input" type="text" name="post-title" />

      <label class="form-label" for="post-content">Content</label>
      <input class="form-input" type="text" name="post-content" />

      <button
        class="btn btn-primary"
        id="create-button"
        type="submit"
      >Create</button>

    </form>
  </div>
</div>

<script src="./../public/js/new.js"></script>